<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEMPLATE IS WORKING </title>
</head>
<body>
<!-- TEMPLATE IS WORKING!<br >
{{ NAME  }} IS FROM {{PLACE}}    -->

<h1> WELCOME TO THE TEXT. ENTER YOUR TEXT BELOW </h1>

<form action='/SUBMIT' method="get">
     <textarea name='TEXT' style='width: 841px;height: 309px;'></textarea> <br>
     
     <input type="checkbox" name="REMOVE_PUNCTUATION"> REMOVE_PUNCTUATION<br>
     <input type="checkbox" name="UPPERCASE"> UPPERCASE<br>
     <input type="checkbox" name="NEXT_LINE_REMOVER">NEXT_LINE_REMOVER<br>
     <input type="checkbox" name="EXTRA_SPACE_REMOVER">EXTRA_SPACE_REMOVER<br>
     <input type="checkbox" name="CHARACTERS_COUNTER ">CHARACTERS_COUNTER <br>
     <button type = 'SUBMIT'> SUBMIT TEXT</button>
</form>
</body>
</html>



